.portfolio__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item-image > img{
    width: 95%;
    margin: 5px auto;
    height: 220px;

}

.portfolio__item-description{
    text-align: left;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}





/* ============== MEDIA QUERY ==========*/

/* ====== MEDIUM DEVICES ====== */
@media screen and (max-width: 1024px){
    .portfolio__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

/* ======== SMALL DEVICES =======*/
@media screen and (max-width: 600px)  {
    .portfolio__container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }
}