
.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item-image {
    margin: 10px auto;
    /* position: relative; */
    display: block;
}

.portfolio__item-image > img{
    margin: 5px auto;
    height: 220px;

}

.portfolio__item-description{
    text-align: left;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

