

/* ====== MEDIUM DEVICES ====== */
@media screen and (max-width: 1024px){
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content{
        padding: 1rem;
    }
}

/* ======== SMALL DEVICES =======*/
@media screen and (max-width: 600px)  {
    .experience__container{
        grid-template-columns: 1fr;
    }    

    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
}